---
import BaseLayout from "../../layouts/BaseLayout.astro";
import getPostData from "../../utils/getPostData";

const title = "Today I Learned";
const slug = "til";
const description = "Little nuggets of things I have learned";
const permalink = `${Astro.site!.href}categories`;

const posts = (await Astro.glob("../../../content/blog/*.md"))
  .filter((x) => x.frontmatter.categories.indexOf(slug) > -1)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.publishDate).valueOf() -
      new Date(a.frontmatter.publishDate).valueOf()
  );
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="category"
>
  <div class="container">
    <h1>{title}: {description}</h1>
    {
      posts.map((post, index) => {
        const { slug, readingTime } = getPostData(post);
        const href = `/posts/${slug}`;

        return (
          <div>
            {index !== 0 && <hr />}
            <div class="post-item">
              <h2>
                <a href={href}>{post.frontmatter.title}</a>
              </h2>
              <p>{post.frontmatter.description}</p>
              <div class="post-item-footer">
                <span class="post-item-date">
                  — {post.frontmatter.publishDate} ({readingTime})
                </span>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</BaseLayout>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 60px auto;
  }
</style>
